bin/
obj/
.vs/

ImageKeeper_publish_test/
ImageKeeper_publish_test_20260627/
runcheck/
dist/
temp_test_image2/
temp_test_image2_old/
tmp_*/
tools/python/**/__pycache__/

*.user
*.suo
*.cache
*.pdb
ImageKeeper_publish_test_sc/
tools/python/image2-generate/.image2_api_key
